body{
  font-family:monospace;
  padding:1em;
}
#tools{
  display:inline-block;
  position:relative;
  /*height:400px;
  width:550px;*/
  width:40%;
  padding:1em;
  /*border:1px solid black;*/
}
#gridContainer{
  display:inline-block;
  position:relative;
  width:350px;
  height:350px;
}
.grid{
  display:none;
  position:absolute;
  top:50;
  left:0;
  padding:0px;
  margin:0px;
  border:1px solid gainsboro;
  width:300px;
  font-size:0;
}
#grid0{
  display:inline-block;
}
.gridButton{
  display:inline-block;
  padding:8px;
  background-color:white;
}
.gridButton:hover{
  background-color:gainsboro;
}
.selectedButton{
  background-color:gainsboro;
}
.square{
  display:inline-block;
  width:30px;
  height:30px;
  box-sizing: border-box;
  border:1px solid gainsboro;
  margin:0px;
  padding:0px;
}
#VRscene{
  display:inline-block;
  border:1px solid black;
  /*width:500px;
  height:350px;*/
  width:40%;
  height:350px;
}
#colorPicker{
  display:inline-block;
  position:absolute;
  top:55px;
  left:330px;
  width:150px;
  height:160px;
  /*border:1px solid black;*/
}
.color{
  display:inline-block;
  width:30px;
  height:30px;
  border:1px solid white;
  margin:2px;
}
.color:hover{
  border:1px solid black;
}
#teleporterSq{
  width:30px;
  height:30px;
  background-color:red;
}
#codeDiv{
  display:none;
}
textarea{
  width:50%;
  height:15em;
  background-color:gold;
}
button{
  background-color:gold;
  border:1px solid black;
}
#name{
  position:fixed;
  top:10px;
  right:10px;
  text-align:right;
}
span{
  font-size:16px;
  color:deeppink;
}
